<div>
  <h2><%- pokemon.name %></h2>
  <img src="<%- pokemon.img %> " alt="" />
  <p><%- pokemon.type %></p>
  <p><%- pokemon.ability %></p>
  <p>Created by: <%- pokemon.user_id.username %></p>
  <% if (user) { %> <% if (user.id == pokemon.user_id._id) { %>
  <a href="/pokemon/update/<%= pokemon._id %>">Update</a>
  <form method="POST" action="/pokemon/delete/<%= pokemon._id %>">
    <button type="submit">Delete</button>
  </form>
  <% } %> <% } %>
</div>

<h2>Comments</h2>
<ul>
  <% pokemon.comments.forEach((comment) => { %>
  <li>
    <p><%= comment.content %></p>
    <p>By <%= comment.author %> on <%= comment.date %></p>
  </li>
  <% }); %>
</ul>
<form action="/pokemon/<%= pokemon._id %>/comments" method="POST">
  <label for="content">Content:</label>
  <input type="text" name="content" id="content" required />
  <label for="author">Author:</label>
  <input type="text" name="author" id="author" value="<%= user ? user.username : '' %>" required />
  <button type="submit">Submit Comment</button>
</form>
