<h1>Profile page</h1>
<h2>Hello <%= user.username %></h2>
<h3>Created Pokemon</h3>
<% allPokemon.forEach(pokemon => { %>
<div>
  <h2><%- pokemon.name %></h2>
  <img width="200px" src="<%= pokemon.img %> " alt="" />
  <div><a href="/pokemon/<%= pokemon._id %>">More Info</a></div>

  <div><a href="/pokemon/update/<%= pokemon._id %>">Update</a></div>

  <form method="POST" action="/pokemon/delete/<%= pokemon._id %>">
    <button type="submit">Delete</button>
  </form>
</div>
<% }) %>
